@font-face {
  font-family: "iconfont"; /* Project id 1160406 */
  src: url('iconfont.woff2?t=1697955509393') format('woff2'),
       url('iconfont.woff?t=1697955509393') format('woff'),
       url('iconfont.ttf?t=1697955509393') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ali-icon-icon2:before {
  content: "\e653";
}

.ali-icon-icon1:before {
  content: "\e651";
}

.ali-icon-a-bianzu91:before {
  content: "\e64d";
}

.ali-icon-a-bianzu9:before {
  content: "\e64e";
}

.ali-icon-a-bianzu11:before {
  content: "\e650";
}

.ali-icon-gaoji:before {
  content: "\e64c";
}

.ali-icon-copy:before {
  content: "\e6bb";
}

.ali-icon-dingyue:before {
  content: "\e64a";
}

.ali-icon-quxiaodingyue:before {
  content: "\e64b";
}

.ali-icon-a-bianzu8:before {
  content: "\e649";
}

.ali-icon-a-3:before {
  content: "\e648";
}

.ali-icon-loading1:before {
  content: "\e625";
}

.ali-icon-a-video1:before {
  content: "\e645";
}

.ali-icon-audio:before {
  content: "\e646";
}

.ali-icon-loading1-copy:before {
  content: "\e885";
}

.ali-icon-a-3-copy:before {
  content: "\e884";
}

.ali-icon-a-1:before {
  content: "\e63d";
}

.ali-icon-a-2:before {
  content: "\e63e";
}

.ali-icon-play:before {
  content: "\e63f";
}

.ali-icon-list:before {
  content: "\e642";
}

.ali-icon-word:before {
  content: "\e644";
}

.ali-icon-gift:before {
  content: "\e6ba";
}

.ali-icon-gift-one:before {
  content: "\e881";
}

.ali-icon-like-select:before {
  content: "\e6b6";
}

.ali-icon-like-nomal:before {
  content: "\e6b7";
}

.ali-icon-collet-select:before {
  content: "\e6b8";
}

.ali-icon-collect-nomal:before {
  content: "\e6b9";
}

.ali-icon-mine:before {
  content: "\e6b5";
}

.ali-icon-follow:before {
  content: "\e6b2";
}

.ali-icon-share:before {
  content: "\e6b0";
}

.ali-icon-instructions:before {
  content: "\e6b1";
}

.ali-icon-pinglun2:before {
  content: "\e647";
}

.ali-icon-gengduo:before {
  content: "\e611";
}

.ali-icon-a-icon_huati:before {
  content: "\e64f";
}

.ali-icon-xiazai2:before {
  content: "\e6a1";
}

.ali-icon-fenxiang:before {
  content: "\e61f";
}

.ali-icon-caidan:before {
  content: "\e652";
}

.ali-icon-video:before {
  content: "\e63a";
}

.ali-icon-img:before {
  content: "\e639";
}

.ali-icon-edit:before {
  content: "\e637";
}

.ali-icon-shanchu:before {
  content: "\e635";
}

.ali-icon-xiaoxi:before {
  content: "\e632";
}

.ali-icon-update:before {
  content: "\e62f";
}

.ali-icon-hide:before {
  content: "\e62e";
}

.ali-icon-a-02:before {
  content: "\e62d";
}

.ali-icon-guanbi1:before {
  content: "\e619";
}

.ali-icon-rongyu:before {
  content: "\e62b";
}

.ali-icon-icon_tips:before {
  content: "\e62a";
}

.ali-icon-a-ziyuan1:before {
  content: "\e629";
}

.ali-icon-icon:before {
  content: "\e627";
}

.ali-icon-a-04:before {
  content: "\e624";
}

.ali-icon-a-07:before {
  content: "\e623";
}

.ali-icon-a-06:before {
  content: "\e622";
}

.ali-icon-a-05:before {
  content: "\e621";
}

.ali-icon-a-03:before {
  content: "\e620";
}

.ali-icon-a-02-copy:before {
  content: "\e880";
}

.ali-icon-a-01:before {
  content: "\e61e";
}

.ali-icon-xiazai1:before {
  content: "\e610";
}

.ali-icon-bianzu:before {
  content: "\e60b";
}

.ali-icon-tixing:before {
  content: "\e60f";
}

.ali-icon-liulan1:before {
  content: "\e693";
}

.ali-icon-faxian-yanjing:before {
  content: "\e6de";
}

.ali-icon-pinglun1:before {
  content: "\e745";
}

.ali-icon-liulan:before {
  content: "\e61b";
}

.ali-icon-pinglun:before {
  content: "\e61d";
}

.ali-icon-zhankai4:before {
  content: "\e601";
}

.ali-icon-method-draw-image:before {
  content: "\e61a";
}

.ali-icon-xiazai:before {
  content: "\e618";
}

.ali-icon-zhankai2:before {
  content: "\e6a3";
}

.ali-icon-shouqi2:before {
  content: "\e746";
}

.ali-icon-duoxuan1:before {
  content: "\e63c";
}

.ali-icon-zhankai-yizhankai:before {
  content: "\e630";
}

.ali-icon-xuanzhong:before {
  content: "\e600";
}

.ali-icon-wode:before {
  content: "\e60e";
}

.ali-icon-yaoqing:before {
  content: "\e655";
}

.ali-icon-zuanshi:before {
  content: "\e626";
}

.ali-icon-paixu:before {
  content: "\e66c";
}

.ali-icon-zhankai3:before {
  content: "\e87e";
}

.ali-icon-shouqi1-right:before {
  content: "\e882";
}

.ali-icon-shouqi1:before {
  content: "\e617";
}

.ali-icon-zhankai1:before {
  content: "\e61c";
}

.ali-icon-shouqi1-left:before {
  content: "\e883";
}

.ali-icon-guanbi:before {
  content: "\e60a";
}

.ali-icon-xiangji:before {
  content: "\e638";
}

.ali-icon-jiahao:before {
  content: "\e616";
}

.ali-icon-dizhi:before {
  content: "\e641";
}

.ali-icon-shouji:before {
  content: "\e605";
}

.ali-icon-qiepian-copy:before {
  content: "\e87f";
}

.ali-icon-qiepian:before {
  content: "\e615";
}

.ali-icon-bofang:before {
  content: "\e614";
}

.ali-icon-zanting:before {
  content: "\e613";
}

.ali-icon-jiazai:before {
  content: "\e612";
}

.ali-icon-circle:before {
  content: "\e60d";
}

.ali-icon-loading:before {
  content: "\e6c5";
}

.ali-icon-next:before {
  content: "\e6c1";
}

.ali-icon-player:before {
  content: "\e6c2";
}

.ali-icon-pre:before {
  content: "\e6c3";
}

.ali-icon-Pause:before {
  content: "\e6c4";
}

.ali-icon-phone:before {
  content: "\e60c";
}

.ali-icon-zan:before {
  content: "\e609";
}

.ali-icon-duoxuan:before {
  content: "\e602";
}

.ali-icon-kaopu:before {
  content: "\e603";
}

.ali-icon-morenxuanzhong:before {
  content: "\e604";
}

.ali-icon-shouqi:before {
  content: "\e606";
}

.ali-icon-weixuanzhong:before {
  content: "\e607";
}

.ali-icon-zhankai:before {
  content: "\e608";
}

